

body {
	font-family: tahoma;	
}
.registration form {
	margin: 20px 0px 20px 19px;
}
.registration {
	width: 60%;
	margin: 134px auto 0px;
	border:2px solid grey;
}
.error {
	color: red;
}
.success {
	color: green;
}

